Flask
Flask-RESTful
Flask-SQLAlchemy
joblib
SQLAlchemy~=1.4.31
pandas
numpy
requests
streamlit
python-dotenv
marshmallow-sqlalchemy
marshmallow
scikit-surprise
Faker
Werkzeug
flask_marshmallow
lightfm
implicit
psycopg2-binary
gunicorn
scipy
scikit-learn
boto3
botocore
hydralit
Pillow